<html>
<head>
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified Jquery UI-->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Dosis|Droid+Sans|Lobster' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="/static/css/styles.css">


</head>
<body>

<!--CONTAINER STARTS-->

<!--HOME PAGE-->


<div class="row  slide31 flow-text brown-text text-lighten-1">
    <!--NAVIGATION BAR-->
    <div class="navbar-fixed">
        <nav class=" expand">
            <div class="nav-wrapper brown-text text-lighten-1">
                <a href="{{ url_for('index') }}" class="brand-logo ">&nbsp;&nbsp;<img src="/static/logo.png" alt="Logo" height="72"
                                                                 width="72"></a>
                <ul class="right hide-on-med-and-down ">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('calculator') }}">Calculator</a></li>
                    <li><a href="#!">Installer</a></li>
                    <li><a href="#!">Learn Solar</a></li>
                    <li><a href="#!">Blog</a></li>

                </ul>
                <ul id="slide-out" class="side-nav">
                    <li><a href="#"><span class="grey-text text-darken-3 ">Home</span></a></li>
                    <li><a href="{{ url_for('calculator') }}"><span
                            class="grey-text text-darken-3 ">Calculator</span></a></li>
                    <li><a href="#!"><span class="grey-text text-darken-3 ">Installer</span></a></li>
                    <li><a href="#!"><span class="grey-text text-darken-3 ">Learn Solar</span></a></li>
                    <li><a href="#!"><span class="grey-text text-darken-3 ">Blog</span></a></li>
                </ul>
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </nav>
    </div>

    <!--NAVIGATION BAR ENDS-->
    <div class="container ">
        <div class="row page31">

            <div class="col s8 offset-s2 center"><span style="">Why solarify your Work Place?
						<ul style="font-size:18px;">

                            <li>Solar power is cheaper than commercial

                                grid rates.
                            </li>

                            <li>Save 20% on monthly bills</li>
                            <li>Claim depreciation tax benefits</li>
                            <li>Make your office green</li>

                        </ul>
						Be <span class="brand-logo" id="logo-hover">Solarified</span> today .</span>
            </div>
            <div class="col s2"></div>
        </div>
        <div class="row page2">

            <!--<div class="col s8 offset-s2 center"><span style="color:#fff;">Are you looking for
                                                      <a class='dropdown-button waves-effect waves-light btn red lighten-3' href='#' data-activates='dropdown1'>Select One</a>


                                                      <ul id='dropdown1' class='dropdown-content'>
                                                        <li><a href="#!" class="waves-effect waves-light"><span class="red-text text-lighten-3 ">House</span></a></li>
                                                        <li><a href="#!" class="waves-effect waves-light"><span class="red-text text-lighten-3 ">School</span></a></li>
                                                        <li><a href="#!" class="waves-effect waves-light"><span class="red-text text-lighten-3 ">Hospital</span></a></li>
                                                        <li><a href="#!" class="waves-effect waves-light"><span class="red-text text-lighten-3 ">Factory</span></a></li>
                                                        <li><a href="#!" class="waves-effect waves-light"><span class="red-text text-lighten-3 ">Office</span></a></li>
                                                      </ul>
                                                </span></div>-->
            <div class="col s2"></div>
        </div>
    </div>


</div>

<!--ABOUT PAGE-->
<div class="row slide2 white flow-text">
    <div class="row page3">

        <div class="col s8 offset-s2 center"><span>Why <span class="brand-logo orange-text text-lighten-2"
                                                             style="font-size:37px;" id="logo-hover">Solarify</span> today</span><br><span
                style="">Advantages of having </span><span style="font-weight:700;">Solar</span> for your <span
                style="font-weight:700;">home. </span></div>
        <div class="col s2"></div>
    </div>


    <div class="row page32">

        <div class="col s12 m12">

            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header">System - min/max</div>
                    <div class="collapsible-body">
                        <ul>
                            <li>Last really long</li>
                            <li>Safe and easy to operate</li>
                            <li>Non-intrusive & installed quickly</li>
                            <li>No moving parts, hence low maintenance</li>
                            <li>Integrate into current electrical infrastructure</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Electricity - min/max</div>
                    <div class="collapsible-body">
                        <ul>
                            <li>Get energy secure. Solar can deliver power during load shedding for your critical
                                loads
                            </li>
                            <li>Generate power on your unused rooftop and earn significant savings</li>
                            <li>Lock-in solar rates for a long time</li>
                            <li>Get stable power output from solar</li>
                            <li>Reduce grid-dependency</li>
                            <li>Cost effective</li>


                        </ul>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header">Lifetime of appliances -min/max</div>
                    <div class="collapsible-body">
                        <ul>
                            <li>All expensive machinery is supplied with a very stable output power</li>
                            <li>Stable power increases performance & lifetime of appliances</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Green solution -min/max</div>
                    <div class="collapsible-body">
                        <ul>
                            <li>Environmentally beneficial way of generating power</li>
                            <li>Contributes to green economy</li>
                            <li>Zero emissions</li>


                        </ul>
                    </div>
                </li>
            </ul>
        </div>


    </div>


    <div class="row page5">

        <div class="col s8 offset-s2 center"><span>Today solar is <span
                style="font-weight:700;">Practical, Efficient</span> & <span style="font-weight:700;">Cheaper</span> solution to all your power needs.
        </div>
        <div class="col s2"></div>
    </div>

</div>
<div class="row  slide3 light-blue lighten-5 flow-text">

    <div class="row page6 blue-grey-text text-lighten-3 ">

        <div class="col s8 offset-s2 center black-text">Different types of rooftop connections</div>
        <div class="col s2"></div>
    </div>

    <div class="row page4">
        <div class="col m4 s12">

            <div class="card-panel  why-solar32" id="why-solar-311">

            </div>
        </div>
        <div class="col m4 s12 ">

            <div class="card-panel  why-solar32" id="why-solar-322">

            </div>
        </div>
        <div class="col m4 s12">

            <div class="card-panel  why-solar32" id="why-solar-333">

            </div>
        </div>


    </div>
</div>
<!--IMPACT PAGE-->
<div class="row  slide3 white flow-text">

    <div class="row page6 black-text ">

        <div class="col s8 offset-s2 center">Pre-requirements.</div>
        <div class="col s2"></div>
    </div>

    <div class="row page4">
        <div class="col m4 s12">

            <div class="card-panel  why-solar2" id="why-solar-21">
                <p class="white-text center title-impact">
                    Roof
                <ul style="color:#fff;font-size:24px; font-weight:600;">
                    <li>Approx. 100 sqft is

                        required for every 1kWp

                        system
                    </li>
                    <li>A flat or sloped roof is

                        suitable
                    </li>
                    <li>Check whether weight of

                        panels & mounting can be

                        supported by roof

                        structure
                    </li>


                </ul>

                </p>
            </div>
        </div>
        <div class="col m4 s12 ">

            <div class="card-panel  why-solar2" id="why-solar-22">
                <p class="white-text center title-impact">
                    Mounting
                <ul style="color:#fff;font-size:24px; font-weight:600;">
                    <li>Panels facing south

                        direction at the right angle

                        gives best results
                    </li>
                    <li>If installed in any other

                        direction, generation

                        reduces by 3-5%
                    </li>
                    <li>A shadow free area is

                        necessary, otherwise it will

                        affect generation
                    </li>
                    <li>Different mounting will be

                        used based on roof

                        structure
                    </li>


                </ul>
                </p>
            </div>
        </div>
        <div class="col m4 s12">

            <div class="card-panel  why-solar2" id="why-solar-23">
                <p class="white-text center title-impact">
                    Power
                <ul style="color:#fff;font-size:24px;font-weight:600;">
                    <li>An inverter usually keeps

                        track of daily energy

                        generation
                    </li>
                    <li>Panels should be installed

                        at a maximum of 20m wire

                        length from the inverter
                    </li>
                    <li>Inverters and other meters

                        should be placed indoors
                    </li>


                </ul>
                </p>
            </div>
        </div>


    </div>
</div>
<!--CALCULATOR PAGE-->
<div class="row  slide4">

</div>

<!--FOOTER-->
<footer class="page-footer orange lighten-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text brand-logo">Solarify</h5>

                <p class="grey-text text-lighten-4">Practical, Efficient & Cheaper solution to all your power needs.</p>
            </div>
            <div class="col l4 offset-l0 s12">
                <h5 class="white-text">Want to know more?
                    <br> We will call you.</h5>

                <form class="col s12">

                    <div class="input-field col s12">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">Name</label>
                    </div>


                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>

                    <div class="input-field col s12">
                        <input id="phone" type="tel" class="validate">
                        <label for="phone">Phone</label>
                    </div>


                </form>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2015 <span class="brand-logo">Solarify</span>
            <a class="grey-text text-lighten-4 right" href="#">Solar Designs</a>
        </div>
    </div>
</footer>

<!--CONTAINER ENDS-->
</body>
<script>
    $(document).ready(function () {
        //NAVBAR
        $(".button-collapse").sideNav();
        $('.dropdown-button').dropdown({
                    inDuration: 300,
                    outDuration: 225,
                    constrain_width: true, // Does not change width of dropdown to that of the activator
                    hover: false, // Activate on hover
                    gutter: 0, // Spacing from edge
                    belowOrigin: false // Displays dropdown below the button
                }
        );


        $(window).scroll(function () {
            if ($(document).scrollTop() > 50) {
                $('nav').addClass('shrink');
                $('nav').addClass('orange lighten-2');

                $('.lime-text').removeClass('nav-link');
            } else {

                $('nav').addClass('expand');
                $('nav').removeClass('shrink');
                $('nav').removeClass('orange lighten-2');
                $('.lime-text').addClass('nav-link');
            }


            if ($(document).scrollTop() > 1020) {
                $('.why-solar').slideDown(1000);

            } else {


                $('.why-solar').slideUp(1000);
            }
        });


    });
    if (window.addEventListener) window.addEventListener('DOMMouseScroll', wheel, false);
    window.onmousewheel = document.onmousewheel = wheel;

    function wheel(event) {
        var delta = 0;
        if (event.wheelDelta) delta = event.wheelDelta / 120;
        else if (event.detail) delta = -event.detail / 3;

        handle(delta);
        if (event.preventDefault) event.preventDefault();
        event.returnValue = false;
    }

    function handle(delta) {
        var time = 1000;
        var distance = 300;

        $('html, body').stop().animate({
            scrollTop: $(window).scrollTop() - (distance * delta)
        }, time);
    }
</script>
</html>