<html>
<head>
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified Jquery UI-->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Dosis|Droid+Sans|Lobster' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <script src="/static/Chart.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>
        ul li {
            list-style-type: disc !important;
        }

    </style>

</head>
<body>

<!--CONTAINER STARTS-->

<!--HOME PAGE-->
<style>
    .sidebar {
        width: 100px;
        height: 30px;
        font-size: 18px;
        position: fixed;
        right: 0px;
        top: 400px;
        padding-top: 0px;
        padding-bottom: 5px;
        border-radius: 5px;
        z-index: 200;
        color: #fff;
        font-weight: 600;
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari */
        transform: rotate(90deg); /* Standard syntax */
        transform-origin: right top 0;
        text-align: center;
    }

    .sidebar a {
        color: #fff;
    }
</style>
<div class='teal sidebar'><a class="waves-effect waves-light  modal-trigger" href="#modal1">Free Quote</a></div>


<div class="row  slide1 flow-text">
    <div style="background-color: rgba(25, 24, 21, 0.3);">
        <!--NAVIGATION BAR-->
        <div class="navbar-fixed  ">
            <nav class=" expand">
                <div class="nav-wrapper ">
                    <a href="{{ url_for('index') }}" class="brand-logo ">&nbsp;&nbsp;<img src="/static/logo.png"
                                                                                          alt="Logo" height="65"
                                                                                          width="102"><img
                            src="/static/text.png" alt="Logo"
                            height="55" width="120"></a>
                    <ul class="right hide-on-med-and-down ">
                        <li><a href="#!">Home</a></li>
                        <li><a href="#!">Calculator</a></li>
                        <li><a href="#!">Installer</a></li>
                        <li><a href="#!">Learn Solar</a></li>
                        <li><a href="#!">Blog</a></li>

                    </ul>
                    <ul id="slide-out" class="side-nav">
                        <li><a href="#!"><span class="grey-text text-darken-3 ">Home</span></a></li>
                        <li><a href="#!"><span class="grey-text text-darken-3 ">Calculator</span></a></li>
                        <li><a href="#!"><span class="grey-text text-darken-3 ">Installer</span></a></li>
                        <li><a href="#!"><span class="grey-text text-darken-3 ">Learn Solar</span></a></li>
                        <li><a href="#!"><span class="grey-text text-darken-3 ">Blog</span></a></li>
                    </ul>
                    <a href="#" data-activates="slide-out" class="button-collapse"><i
                            class="mdi-navigation-menu"></i></a>
                </div>
            </nav>
        </div>

        <!--NAVIGATION BAR ENDS-->
        <div class="container">
            <div class="row page1">

                <div class="col s8 offset-s2 center"><span class="white-text"
                                                           style="text-shadow: 2px 2px #000;">Be <span
                        class="brand-logo" id="logo-hover">Solarified</span> today<br>Utilize your rooftop for Power Gains .</span>
                </div>
                <div class="col s2"></div>
            </div>
            <div class="row page2">

                <div class="col s8 offset-s2 center"><span style="color:#fff;text-shadow: 2px 2px #000;">Ready to turn your  <!-- Dropdown Trigger --></span>
                    <a class='dropdown-button waves-effect waves-light btn teal lighten-2' href='#'
                       data-activates='dropdown1'>Select One</a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="{{ url_for('residential') }}" class="waves-effect waves-light"><span
                                class="teal-text  ">House</span></a></li>
                        <li><a href="{{ url_for('commercial') }}" class="waves-effect waves-light"><span
                                class="teal-text ">School</span></a></li>
                        <li><a href="{{ url_for('commercial') }}" class="waves-effect waves-light"><span
                                class="teal-text  ">Hospital</span></a>
                        </li>
                        <li><a href="{{ url_for('industrial') }}" class="waves-effect waves-light"><span
                                class="teal-text  ">Factory</span></a></li>
                        <li><a href="{{ url_for('commercial') }}" class="waves-effect waves-light"><span
                                class="teal-text  ">Office</span></a></li>
                    </ul>
                    <span style="color:#fff;text-shadow: 2px 2px #000;">energy efficient ?	</span>
                </div>
                <div class="col s2"></div>
            </div>
        </div>


    </div>
</div>
<!--ABOUT PAGE-->
<div class="row slide2 white flow-text">
    <div class="row page3">

        <div class="col s8 offset-s2 center"><span>Why go <span class="brand-logo teal-text " style="font-size:37px;"
                                                                id="logo-hover"> Solar </span> today?</span><br><span
                style="">Protect yourself from </span><span style="font-weight:700;">Utility Rates</span> & <span
                style="font-weight:700;">Oil Price hikes</span></div>
        <div class="col s2"></div>
    </div>


    <div class="row page32">

        <div class="col s12 m4 center ">

            <div class="btn-floating btn-large waves-effect waves-light teal white-text"><i class="fa fa-inr"></i></div>

            <p class="page4-sec-out center">Cost</p>

            <div class="row page4-desc">
                <div class="col s10 offset-s1 ">
                    Solar:<a class="tooltipped page4-desc-li" data-position="top" data-delay="50"
                             data-tooltip="I am the best !">&nbsp;&nbsp; Rs. 2/unit</a><br>
                    Grid:<a class="tooltipped page4-desc-li" data-position="right" data-delay="50"
                            data-tooltip="I am expensive !">&nbsp;&nbsp; Rs. 20/unit</a><br>
                    Diesel:<a class="tooltipped page4-desc-li" data-position="bottom" data-delay="50"
                              data-tooltip="I am expensive !">&nbsp;&nbsp; Rs. 50/unit</a>
                </div>
            </div>
        </div>


        <div class="col s12  m4 center ">
            <div>
                <canvas id="canvas" height="350" width="600"></canvas>
            </div>
        </div>
        <div class="col s12  m4 center ">
            <div class="btn-floating btn-large waves-effect waves-light teal white-text"><i class="fa fa-paw"></i></div>

            <p class="page4-sec-out center">Returns</p>

            <div class="row page4-desc">
                <div class="col s10 offset-s1 ">
                    Residence:<a class="tooltipped page4-desc-li" data-position="top" data-delay="50"
                                 data-tooltip="I am the best !">&nbsp;&nbsp; 30% p.a.</a><br>
                    Office:<a class="tooltipped page4-desc-li" data-position="right" data-delay="50"
                              data-tooltip="I am expensive !">&nbsp;&nbsp; 40% p.a.</a><br>
                    Factory:<a class="tooltipped page4-desc-li" data-position="bottom" data-delay="50"
                               data-tooltip="I am expensive !">&nbsp;&nbsp; 70% p.a.</a>
                </div>
                <div class="col s1 "></div>
            </div>
        </div>
    </div>
    <div class="row page4-5">
        <div class="col s12  center" style="font-size:24px;"><span><strong>Depreciation Benefits :</strong> Also if you a commercial entity, then save <span
                class="teal-text" style="font-weight:700;">80 % </span> on taxable income.</div>
    </div>

    <div class="row page5">

        <div class="col s8 offset-s2 center" style="font-size:24px;"><span>Today solar is <span class="teal-text"
                                                                                                style="font-weight:700;">practical, efficient</span> & <span
                class="teal-text" style="font-weight:700;">cheaper</span> solution to all your power needs.</span></div>
        <div class="col s12  center" style="font-size:24px;margin-top:20px;"><span>Want significant Savings  <a
                class="waves-effect waves-light btn">Solarify</a></div>
        <div class="col s2"></div>
    </div>

</div>
<!--IMPACT PAGE-->
<div class="row  slide3 light-blue lighten-5 flow-text">

    <div class="row page6 grey-text text-darken-4 ">

        <div class="col s8 offset-s2 center"><span>Impact of <span class="teal-text "
                                                                   style="font-weight:800">Solar</span> power</span>
        </div>
        <div class="col s2"></div>
    </div>

    <div class="row page4">
        <div class="col m4 s12">


            <div class="card-panel  why-solar" id="why-solar-1">
                <p class="teal white-text center title-impact">

                    Environmental Benefit:</p>

                <div style="padding-left:40px;">
                    <p class="grey-text text-darken-1">
                        <br>
                        A 1kW system can:
                    <ul class="grey-text text-darken-1">
                        <li>Offset 10000 kgs of CO2</li>
                        <li>Generates 1500 units per year</li>
                        <li>Saves 1000L of diesel</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>

        <div class="col m4 s12 ">


            <div class="card-panel  why-solar" id="why-solar-2">
                <p class="teal white-text center title-impact">
                    Reduce Utility Burden:</p>

                <div style="padding-left:40px;">
                    <p class="grey-text center title-impact">
                        <BR>
                    <ul class="grey-text text-darken-1">
                        <li>Helps your neighborhood utility by reducing
                            the excessive demand from the grid
                        </li>
                        <li>If 5% of rooftops go solar,
                            burden on utilities reduce by 25%
                        </li>
                    </ul>

                    </p>
                </div>
            </div>
        </div>
        <div class="col m4 s12">

            <div class="card-panel  why-solar" id="why-solar-3">
                <p class="teal white-text center title-impact">
                    India- a solar superpower:</p>

                <div style="padding-left:40px;">
                    <p class="grey-text center title-impact">
                        <br>
                    <ul class="grey-text text-darken-1">
                        <li>India which has currently 5% energy generated via solar
                            of the total generation, is set to increase
                            the share of solar to 20% by 2020
                        </li>
                        <li>This reduces power deficit hence millions of
                            people have access to more energy
                        </li>
                    </ul>

                    </p>
                </div>
            </div>
        </div>


    </div>
</div>
<!--CALCULATOR PAGE-->
<div class="row  slide4">

    <div class="row page6  ">

        <div class="col s8 offset-s2 center"><span><span class="teal-text " style="font-weight:800">Tools</span> </span>
        </div>
        <div class="col s2"></div>
    </div>

    <div class="row page32">

        <div class="col s12 m4 center ">
            <div class="teal-text circle"><i class="fa fa-calculator"></i></div>
            <p class="page42-sec-out center">Caculate your requirements and Savings</p>

            <div class="row page4-desc ">
                <a class="waves-effect waves-light btn">Calculate</a>
            </div>
        </div>

        <div class="col s12 m4 center ">
            <div class="teal-text circle"><i class="fa fa-file-text-o"></i></div>
            <p class="page42-sec-out center">Get a Free Quote</p>

            <div class="row page4-desc">
                <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Get Quote</a>

                <div class="col s1 "></div>
            </div>
        </div>
        <div class="col s12 m4 center ">
            <div class="teal-text  circle"><i class="fa fa-wrench"></i></div>
            <p class="page42-sec-out center">Select a friendly reputed installer</p>

            <div class="row page4-desc">
                <a class="waves-effect waves-light btn">Calculate</a>
            </div>
        </div>
    </div>

</div>

<!--FOOTER-->
<footer class="page-footer red lighten-1 style="
">

<div class="row">
    <div class="col m6 s12">
        <h5 class="white-text brand-logo">Solarify</h5>

        <p class="grey-text text-lighten-4">Practical, Efficient & Cheaper solution to all your power needs.</p>
    </div>
    <div class="col m3 s12">
        <h5 class="white-text">Want to know more?
            <br> We will call you.</h5>

        <form class="col s12">

            <div class="input-field col s12">
                <input id="first_name" type="text" class="validate">
                <label for="first_name">Name</label>
            </div>


            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>

            <div class="input-field col s12">
                <input id="phone" type="tel" class="validate">
                <label for="phone">Phone</label>
            </div>

            <a class="waves-effect waves-light btn">Submit</a>


        </form>
    </div>
</div>

<div class="footer-copyright">
    <div class="container">
        &copy; 2015 <span class="brand-logo">Solarify</span>
        <a class="grey-text text-lighten-4 right" href="#">Solar Designs</a>
    </div>
</div>
</footer>
<!--POPUP -->
<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content red lighten-1">
        <h4><span class="white-text">Fill in the details</span></h4>

        <form class="col s12 red-text lighten-1-text" style="margin-top:4%;">

            <div class="input-field col s12">
                <input id="first_name" type="text" class="validate">
                <label for="first_name">Name</label>
            </div>


            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>

            <div class="input-field col s12">
                <input id="phone" type="tel" class="validate">
                <label for="phone">Phone</label>
            </div>


        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>
</div>
<!--CONTAINER ENDS-->
</body>
<script>
    var randomScalingFactor = function () {
        return Math.round(Math.random() * 100)
    };
    var lineChartData = {
        labels: ["2012", "2014", "2016", "2018", "2020"],
        datasets: [
            {

                datasetStrokeWidth: 50,

                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(239, 154, 154, 0.78)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                bezierCurve: true,
                bezierCurveTension: 0.4,
                datasetFill: false,
                data: [3, 4.5, 7, 9, 12.5]
            },
            {

                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(128, 203, 196, 0.78)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                datasetFill: false,
                data: [10, 13, 16, 19, 23]
            },
            {

                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(255, 204, 128, 0.78)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                datasetFill: false,
                data: [15, 11.4, 9, 7, 5.5]
            }
        ]

    }

    window.onload = function () {
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myLine = new Chart(ctx).Line(lineChartData, {
            responsive: true,
            scaleShowGridLines: false,
            datasetFill: false,
            datasetStrokeWidth: 20,
            pointDot: false,
            datasetStroke: false,

        });
    }


</script>
<script>
    $(document).ready(function () {
        //NAVBAR
        $(".button-collapse").sideNav();
        $('select').material_select();
        $('.modal-trigger').leanModal();
        $('.dropdown-button').dropdown({
                    inDuration: 300,
                    outDuration: 225,
                    constrain_width: true, // Does not change width of dropdown to that of the activator
                    hover: false, // Activate on hover
                    gutter: 0, // Spacing from edge
                    belowOrigin: false // Displays dropdown below the button
                }
        );


        $(window).scroll(function () {
            if ($(document).scrollTop() > 50) {
                $('nav').addClass('shrink');
                $('nav').addClass('red lighten-1');

                $('.lime-text').removeClass('nav-link');
            } else {

                $('nav').addClass('expand');
                $('nav').removeClass('shrink');
                $('nav').removeClass('red lighten-1');
                $('.lime-text').addClass('nav-link');
            }


            if ($(document).scrollTop() > 1020) {
                $('.why-solar').slideDown(1000);

            } else {


                $('.why-solar').slideUp(1000);
            }
        });


    });
    if (window.addEventListener) window.addEventListener('DOMMouseScroll', wheel, false);
    window.onmousewheel = document.onmousewheel = wheel;

    function wheel(event) {
        var delta = 0;
        if (event.wheelDelta) delta = event.wheelDelta / 120;
        else if (event.detail) delta = -event.detail / 3;

        handle(delta);
        if (event.preventDefault) event.preventDefault();
        event.returnValue = false;
    }

    function handle(delta) {
        var time = 1000;
        var distance = 300;

        $('html, body').stop().animate({
            scrollTop: $(window).scrollTop() - (distance * delta)
        }, time);
    }
</script>
</html>